@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*/
@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 본체 */
main {
    width: 50vh;
    height: 85vh;
    border-radius: 3vh 3vh 12vh;

    /* 그라데이션 */
    background: linear-gradient(
        to right,
        gray 0%,
        #dad6d7 5%,
        #dad6d7 95%,
        white 100%
    );

    box-shadow: black 0vh 4vh 6vh -2vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* 전원 램프 */
#lamp {
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: radial-gradient(#511, #100);
}
/* 화면 테두리 */
#screenBorder {
    width: 45vh;
    height: 40vh;
    border-radius: 2vh 2vh 6vh;

    background-color: #717286;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* 화면 */
#screen {
    width: 35vh;
    height: 35vh;
    border-radius: 1vh;

    padding: 1vh;

    background-color: #9ca04c;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
#screen > div {
    width: 100%;
    height: 4vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#screen > div > p {
    font-family: "VT323", monospace;
    font-weight: 900;
    font-size: 5vh;
    text-align: right;

    font-family: "VT323", monospace;
    font-weight: 900;
    font-size: 5vh;
    text-align: right;
}

/* 버튼 영역 */
#buttonsArea {
    width: 41vh;
    height: 32vh;
    border-radius: 1vh;

    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* 숫자 패드 */
.numbers {
    width: 23vh;
    height: 32vh;
}
/* 연산자 패드 */
.operators {
    width: 15.5vh;
    height: 32vh;
}

/* 버튼 */
button {
    width: 7vh;
    height: 7vh;
    color: white;
    border: none;
    border-radius: 1vh;
    box-shadow: black 0vh 1vh 1.5vh -0.5vh;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
button > p {
    font-size: 7vh;
}
/*
button.operator > p {
    top: 100px;
}
*/
button.number {
    font-family: "Inter", sans-serif;
    font-weight: 900;

    background-color: black;
}
button.operator {
    font-family: "Cousine", monospace;
    font-weight: 900;

    background-color: #9a2257;
    border-radius: 50%;
}
button:hover {
    box-shadow: black 0vh 1vh 1.5vh -0.5vh,
        rgba(255, 255, 255, 0.3) 0vh 3vh 6vh -1.2vh inset,
        rgba(255, 255, 255, 0.3) 0vh 1.8vh 3.6vh -1.8vh inset;
}
button.number:active {
    border: 0.1vh solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 5px 1px #ffffff;
}
button.operator:active {
    box-shadow: rgba(0, 0, 0, 0.5) 0vh 3vh 6vh -1.2vh inset,
        rgba(0, 0, 0, 0.5) 0vh 1.8vh 3.6vh -1.8vh inset;
}

/* 버튼 레이아웃 예외 설정*/

button.operator {
    /* 연산자 기호들에 justify-content: center; 를 적용하면 위치가 아래로 처지는 버그 방지 */
    align-items: stretch;
}
button.sqrt,
button.plusMinus {
    align-items: center;
}
button.backspace > p,
button.sqrt > p {
    font-size: 6vh;
}

#logo {
    height: 0.1vh;
}

/* 사이드 스위치 On/C */

aside {
    position: relative;
}
#switch {
    position: absolute;

    width: 1.5vh;
    height: 7vh;
    border-radius: 0 0.5vh 0.5vh 0;
    background-color: #9a2257;
    transform: translate(0, -20vh);

    cursor: pointer;
}
#switch:active {
    /* 애니메이션 */
    animation: slide-anim 0.5s forwards; /* 슬라이드 애니메이션 적용 */
}
@keyframes slide-anim {
    0% {
        transform: translate(0, -20vh);
    }
    50% {
        transform: translate(0, -25vh);
    }
    100% {
        transform: translate(0, -20vh);
    }
}
/*
#switchText {
    position: absolute;

    top: -22.25vh;
    right: 0.3vh;
    font-family: "VT323", monospace;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#switchText > p {
    color: #777;

    height: 2.25vh;
    text-align: center;

    font-weight: 900;
    font-size: 1.5vh;
}
*/
